
.popup-container {
    position: absolute;    
}

.book-popup {
    margin: auto;
    padding: 5px;
    width: 50%;
    border: 2px solid black;
    position: fixed;      
    display:flex;
    flex-direction: column;    
    top: 30vh;
    left: 24.4vw;
    z-index: 300;
    background: radial-gradient(circle, rgba(238,174,202,1) 10%, rgba(148,187,233,0.9864685742461047) 78%);
}

.btn-bookclose {
    background: none;
    display: flex;
    justify-content: flex-end;
}

.book-image {
    border: 3px solid rgba(0, 0, 0, 0.666);
    box-shadow: 1px 1px 7px 3px #14364266;
}

.book-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden {
    display: none
}

@media only screen and (max-width: 480px) {

    .book-image {
        width: 20px;
    }

    .book-popup {
        font-size: .8rem;
        padding: 5px;
    }
}