* {
    padding:0px;
    margin:0px;   
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.chatwrapper {
    width: 80%;   
    margin: 0px;
}

.chatSpace {    
    width: 450px;
    height: 500px;
    display: flex;    
    background: linear-gradient(90deg, rgba(72,104,120,1) 27%, rgba(9,75,121,0.5831072297082895) 94%);
    border:1px solid grey; 
    border-radius: 5px;
    margin: 20px;
}

.chatInputWrapper {
    
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.chatInputWrapper input {
    width: 79%;
}

.chatInputWrapper input, .chatInputWrapper button {
    padding: 10px;

}

.chatWindow {    
    padding: 20px;
    overflow-y:scroll;
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.self {
    float: right;
    padding: 10px;
    display: block;
    width: 150px;
    border: 1px solid black;
    margin: 10px 0;
    background-color: #cae1f7;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.4;
    border-radius: 5px;
}

.other {
    border: 1px solid black;
    float: left;
    padding: 10px;
    display: block;
    width: 150px;
    margin: 10px 0;
    background-color: #d9d9d9;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.4;
    border-radius: 5px;
}

.other p {
    margin-bottom: 10px;
}
.self p {
    margin-bottom: 10px;
}

.other-book-list {
    display: block;
}

.other-books-view {
    display: flex;
    justify-content: center;    
}

.other-book {
    width: 200px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(196, 214, 209);
}

.swap-ready-button {
    display: block;
    margin: auto;
}

.hiddent {
    display:none;
}

.chat-options {
    display: flex;
    width: 450px;
    margin: auto;
}

.chat-options button {
    padding: 5px;
}

.btn-showpopup {    
    cursor: pointer;
}

.btn-showpopup:disabled {
    cursor: none;    
}

.btn:disabled {
    cursor: none;    
}