* {
    padding:0px;
    margin:0px;   
}

html, body, #root, .App {    
    min-height: 100vh;
    min-width: 100vw;
    padding:0px;
}

.chatwrapper {

    width: 80%;   
    margin: 0px;
}


.chatSpace {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid grey; 
    border-radius: 5px;
    margin: 20px;
}

.chatInputWrapper {
    width: 100%;
    border-top: 1px solid grey;
}
.chatInputWrapper input, .chatInputWrapper button {
    padding: 10px;

}

.chatWindow {
    width: 100%;
    padding: 20px;
    display: flex;
}

.self {
    align-self: flex-end;
    padding: 10px;
    display: block;
    width: 100px;
    height: 100px;
}

.other {
    padding: 10px;
    display: block;
    width: 100px;
    height: 100px;
}
