.hdr-mybooks {
 justify-content: center;
 align-content: center;
 margin-bottom: 30px;
 text-decoration: solid;
 color:rgb(47, 47, 201)
}

.mybooks{
    width: 100vw; 
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    width: 200px;    
    margin: 15px;   
}

.btn-showpopup {
    background: none;
    cursor: pointer;
    box-sizing: border-box;
    border:0px;
    padding:0px;    
}

.btn-noshowpopup {
    cursor: none;
}