* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  
}

body {
  width: 100vw;
  background: linear-gradient(90deg, rgba(111,120,72,1) 26%, rgba(9,75,121,0.5831072297082895) 94%);
 /* background: linear-gradient(90deg, rgba(111,120,72,1) 1%, rgba(9,75,121,0.5831072297082895) 33%); */
}

h1 {
  font-size: 3rem;
}

.booktest {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}